html {
	max-width: 1250px; 
	max-height: 500px;
	min-width: 250px;
	min-height: 250px;
}

#Overskrift {
	color: #4CC4C5;
	text-align: center;
	width: 125px;
	background-color: #FB2E01;
}

body {
	background-image: url("pokemonwall.jpg");
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

iframe {
	max-width: 350px;
}