html {
	max-width: 1250px; 
	max-height: 500px;
	min-width: 250px;
	min-height: 250px;
}

#Overskrift {
	color: #4CC4C5;
	text-align: center;
	width: 125px;
	background-color: #FB2E01;
}

body {
	background-image: url("pokemonwall.jpg");
}